flyway.url=jdbc:postgresql://localhost:5432/comprehensive_postgresql_social_network
flyway.user=admin_migration
flyway.password=

# default is public, just to make sure clearly
flyway.schemas=public

flyway.locations=filesystem:./sql
